.menu-hum{
    height: 100%;
    padding: 1rem 1rem;
    text-align: center;
    cursor: pointer;
    &__div{
        width: 23px;
        height: 3px;
        background-color: #5f6368;
        margin: 4px 0;
        transition: background-color .15s;
    }

    &:hover{
        background-color: rgba(60,64,67,0.08);
        border-radius: 50%;
    }
}